<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmugu.intelliapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity">

        </activity>
        <activity android:name=".ui.LogActivity">

        </activity>
        <activity android:name=".ui.ScanActivity">

        </activity>
        <activity android:name=".ui.SettingActivity">

        </activity>
        <activity android:name=".ui.VisitorActivity">

        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".ui.UpdatePasswordActivity" />


        <receiver android:name="com.gmugu.intelliapp.msgrecvive.AlarmReceiver">
            <intent-filter>
                <action android:name="com.gmugu.alarm.action" />
            </intent-filter>
        </receiver>

        <service android:name="com.gmugu.intelliapp.msgrecvive.MessageService">

        </service>
    </application>

</manifest>